node_modules
!app/dist/build/es5-amd/node_modules
!app/dist/build/es5-amd/node_modules/**
!app/dist/build/es6/node_modules
!app/dist/build/es6/node_modules/**
app/dist/wc-registry.json
yarn.lock
package-lock.json
.DS_Store
build/es6/node_modules/@polymer/.DS_Store
